.git
.github
.pytest_cache
__pycache__
*.pyc
.DS_Store
.ipynb_checkpoints
.mypy_cache
.nox
.tox
.venv
env
venv
tmp
artifacts
flagged

src/*/data
src/*/notebooks
src/*/tests
src/ctscan/logs
src/ctscan/model/backbone_search*
src/ctscan/model/*.metrics.json
src/ctscan/model/*.report.md
src/ctscan/model/*.train.log
